<h1>Drum Kit</h1>
<section id="container-sequencer" class="container-sequencer">
        <div id="sequencer" class="sequencer">
            <!-- crash -->
            <div id="crash" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/crash.png" alt="Crash"> -->
                <label><input id="key-1" type="checkbox"><span></span></label>
                <label><input id="key-2" type="checkbox"><span></span></label>
                <label><input id="key-3" type="checkbox"><span></span></label>
                <label><input id="key-4" type="checkbox"><span></span></label>
                <label><input id="key-5" type="checkbox"><span></span></label>
                <label><input id="key-6" type="checkbox"><span></span></label>
                <label><input id="key-7" type="checkbox"><span></span></label>
                <label><input id="key-8" type="checkbox"><span></span></label>
            </div>

            <!-- highhats -->
            <div id="hiHat" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/hi-hat.png" alt="Hi hat"> -->
                <label><input id="key-q" type="checkbox"><span></span></label>
                <label><input id="key-w" type="checkbox"><span></span></label>
                <label><input id="key-e" type="checkbox"><span></span></label>
                <label><input id="key-r" type="checkbox"><span></span></label>
                <label><input id="key-t" type="checkbox"><span></span></label>
                <label><input id="key-y" type="checkbox"><span></span></label>
                <label><input id="key-u" type="checkbox"><span></span></label>
                <label><input id="key-i" type="checkbox"><span></span></label>
            </div>

            <!-- snare -->
            <div id="snare" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/snare.png" alt="Snare"> -->
                <label><input id="key-a" type="checkbox"><span></span></label>
                <label><input id="key-s" type="checkbox"><span></span></label>
                <label><input id="key-d" type="checkbox"><span></span></label>
                <label><input id="key-f" type="checkbox"><span></span></label>
                <label><input id="key-g" type="checkbox"><span></span></label>
                <label><input id="key-h" type="checkbox"><span></span></label>
                <label><input id="key-j" type="checkbox"><span></span></label>
                <label><input id="key-k" type="checkbox"><span></span></label>
            </div>

            <!-- right tom -->
            <div id="rightTom" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/right-tom.png" alt="Right tom"> -->
                <label><input id="key-z" type="checkbox"><span></span></label>
                <label><input id="key-x" type="checkbox"><span></span></label>
                <label><input id="key-c" type="checkbox"><span></span></label>
                <label><input id="key-v" type="checkbox"><span></span></label>
                <label><input id="key-b" type="checkbox"><span></span></label>
                <label><input id="key-n" type="checkbox"><span></span></label>
                <label><input id="key-m" type="checkbox"><span></span></label>
                <label><input id="key-," type="checkbox"><span></span></label>
            </div>

            <!-- left tom -->
            <div id="leftTom" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/left-tom.png" alt="Left tom"> -->
                <label><input id="key-!" type="checkbox"><span></span></label>
                <label><input id="key-@" type="checkbox"><span></span></label>
                <label><input id="key-#" type="checkbox"><span></span></label>
                <label><input id="key-$" type="checkbox"><span></span></label>
                <label><input id="key-%" type="checkbox"><span></span></label>
                <label><input id="key-Dead" type="checkbox"><span></span></label>
                <label><input id="key-&" type="checkbox"><span></span></label>
                <label><input id="key-*" type="checkbox"><span></span></label>
            </div>

            <!-- floor tom -->
            <div id="floorTom" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/floor-tom.png" alt="Floor tom"> -->
                <label><input id="key-Q" type="checkbox"><span></span></label>
                <label><input id="key-W" type="checkbox"><span></span></label>
                <label><input id="key-E" type="checkbox"><span></span></label>
                <label><input id="key-R" type="checkbox"><span></span></label>
                <label><input id="key-T" type="checkbox"><span></span></label>
                <label><input id="key-Y" type="checkbox"><span></span></label>
                <label><input id="key-U" type="checkbox"><span></span></label>
                <label><input id="key-I" type="checkbox"><span></span></label>
            </div>

            <!-- kick -->
            <div id="kick" class="row">
                <span class="label">Clap <span>Q</span></span>
                <!-- <img src="img/kick.png" alt="Kick"> -->
                <label><input id="key-A" type="checkbox"><span></span></label>
                <label><input id="key-S" type="checkbox"><span></span></label>
                <label><input id="key-D" type="checkbox"><span></span></label>
                <label><input id="key-F" type="checkbox"><span></span></label>
                <label><input id="key-G" type="checkbox"><span></span></label>
                <label><input id="key-H" type="checkbox"><span></span></label>
                <label><input id="key-J" type="checkbox"><span></span></label>
                <label><input id="key-K" type="checkbox"><span></span></label>
            </div>


        </div>
    </section>
<section class="instructions">
    <div class="feedback">
        <h3>not playing</h3>
    </div>
    <!-- bpm control -->
    <div class="metronome">
        <button id="play-pause" class="btn" aria-label="Play">play</button>
        <div class="controls">
            <p>Speed/bpm</p>
            <button id="minus" class="btn" aria-label="Decrease bpm">-</button>
            <input id="tempo" type="number" min="100" max="300" size="3" value="150">
            <button id="plus" class="btn" aria-label="Iecrease bpm">+</button>
        </div>
    </div>
    <ul>
        <li>Hold shift to alter rows</li>
        <li>Hit enter or Spacebar to start a metronome</li>
        <li>Press one of these keys to toggle them:</li>
        <li>1,2,3,4,5,6,7,8</li>
        <li>Q,W,E,R,T,Y,U,I</li>
        <li>A,S,D,F,G,H,J,K</li>
        <li>Z,X,C,V,B,N,M,les than character <</li>
    </ul>
</section>
