    <section id="container-sequencer" class="container-sequencer">
        <div id="sequencer" class="sequencer">
            <!-- crash -->
            <div id="crash" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/crash.png" alt="Crash"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- highhats -->
            <div id="hiHat" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/hi-hat.png" alt="Hi hat"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- snare -->
            <div id="snare" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/snare.png" alt="Snare"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- right tom -->
            <div id="rightTom" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/right-tom.png" alt="Right tom"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- left tom -->
            <div id="leftTom" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/left-tom.png" alt="Left tom"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- floor tom -->
            <div id="floorTom" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/floor-tom.png" alt="Floor tom"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- kick -->
            <div id="kick" class="row">
                <div class="label">Clap <span>Q</span></div>
                <!-- <img src="img/kick.png" alt="Kick"> -->
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
                <label><input type="checkbox"><span></span></label>
            </div>

            <!-- bpm control -->
            <div class="metronome">
                <button id="play-pause" class="btn" aria-label="Play">play</button>
                <div class="controls">
                    <button id="minus" class="btn" aria-label="Decrease bpm">-</button>
                    <input id="tempo" type="number" min="100" max="300" size="3" value="150">
                    <button id="plus" class="btn" aria-label="Iecrease bpm">+</button>
                </div>
            </div>
        </div>
    </section>
