/* Coolors Exported Palette - coolors.co/68708d-748cab-c6b9cd-f1e0c5-f9d6d6 */
/* RGB */
body {
  background-color: #68708d;
  /*src: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.row {
  display: flex;
  flex-wrap: wrap; }

label,
.label {
  display: block;
  width: 4em;
  height: 4em;
  margin: .1em;
  border-radius: .3em;
  box-shadow: inset 0 0 17px 4px #c6b9cd;
  background-color: #c6b9cd;
  border: solid #c6b9cd; }

.active {
  border: solid #f9d6d6;
  box-shadow: inset 0 0 17px 4px #f9d6d6; }

.selected {
  background: #f9d6d6;
  box-shadow: inset 0 0 17px 4px #f9d6d6; }

.label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ae9bb8; }
  .label img {
    width: 75%;
    margin: 0; }
  .label span {
    font-size: 0.8em;
    width: 100%;
    word-break: break-all;
    margin: 0;
    text-transform: capitalize;
    text-align: center; }

input[type="checkbox"] {
  opacity: 0; }

.metronome {
  padding: 1em 0; }
  .metronome button, .metronome input {
    float: left;
    background: transparent;
    border: .3em solid white;
    padding: 1em 2em;
    border-radius: 1em;
    color: white;
    text-transform: uppercase; }
  .metronome > button:first-child {
    margin-right: 2em; }
