.controls {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	.button-play {
		margin-right: 1rem;
	}

	p {
		margin-bottom: .2rem;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	input {
		text-align: center;
	}
}