.controls {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	.button-play {
		margin-right: 1rem;
		&.playing {
			color: $green;
			animation: colorPulse 2s infinite ease-in-out;
		}
	}

	p {
		margin-bottom: .2rem;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	input {
		text-align: center;
	}
}


@keyframes colorPulse {
	0%, 100% {
		color: $white;
	}
	50% {
		color: $green;
	}
}