aside {
	position: absolute;
	right: 0;
	top: 1rem;
	transform: translateX(calc(85%));
	transition: transform .3s ease-in-out;

	button {
		margin-right: 1rem;
	}

	&.open {
		transform: translateX(0);
		
		.instructions {
			opacity: 1;
		}
	};

	.instructions {
		opacity: 0;
		transition: opacity .3s ease-in-out;
		width: 26em;
		color: white;
		float: right;
		padding: .3em;
		border-radius: .3em;

		p {
			margin: 0;
			color: $dark-grey;
		}
		ul {
			list-style: none;
			padding: 0;
			color: $white;
			font-size: 1.2rem;
			li {
				margin-bottom: 1rem;
				span {
					margin-right: .5rem;
					padding: .2rem .5em;
					opacity: 0.8;
					background-color: $dark-grey;
				}
			}
		}
	}
	
	.mobile.instructions {
		position: fixed;
		top: 0;
		right: 0;
		width: 13em;
		background-color: $grey;
		ul {
			display: none;
		}
		&.small {
			background-color: transparent;
			.feedback, .metronome {
				display: none;
			}
		}
	}
}